<!--必须在创建app的时候创建bootstrap(BootStrap类型的对象)才可以使用-->
{% extends "bootstrap/base.html" %}

{% block title %}
尚观PythonWeb后端课程
{% endblock %}

<!--这个块中放的是js 比如moment-->
<!--这里是使用moment的第二步，第一步在app/__init__.py中（创建moment）-->
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh-cn') }}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/">阳光社区</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">主页</a></li>
                <li><a href="/">论坛</a></li>
                <li><a href="{{url_for('main.all_news')}}">新闻</a></li>
                <li><a href="/">求助</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    {% if current_user.is_admin() %}
                        <li><a href="{{url_for('manager.index')}}">管理中心</a></li>
                    {% endif %}
                    <li><a href="{{url_for('main.user_info', id=current_user.id)}}">{{current_user.name}}</a></li>
                    <li><a href="{{url_for('auth.logout')}}">注销</a></li>
                {% else %}
                    <li><a href="{{url_for('auth.login')}}">登陆</a></li>
                    <li><a href="{{url_for('auth.register')}}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <!--这里自定义一个块-->
        {% block page_content %}
            这里是默认内容
        {% endblock %}
    </div>
    <div class="page-header">
        <!--这里自定义一个块-->
        {% block page_content1 %}

        {% endblock %}
    </div>
</div>
{% endblock %}